@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p,
a,
li,
span {
  font-family: "Bebas Neue", sans-serif;
}

@theme {
  --color-sidebar: #dbdbdb;
  --color-title-sidebar: #410066;
  --color-subtitle-sidebar: #13001b;
  --color-primary-bg: #13001b;
  --color-secondary-bg: #260833;
  --color-primary-text: #dbdbdb;
  --color-secondary-text: #ffd700;
  --color-box-border: #a76fbf;
}
