@import "tailwindcss";

@theme {
  --color-primary: #BEAEF5;
  --color-secundary: #AEB4F5;
  --color-bg-primary: #EDAEF5;
  --color-bg-secundary: #D6AEF5;
  --color-dark: #AECBF5;
  --color-font-primary: #3F4259;
  --color-font-secundary: #F5AEB4;
}