<section
  id="desafios"
  class="py-10 lg:py-20 px-5 lg:px-40 w-full bg-secondary-bg flex flex-col items-center justify-center"
>
  <div class="w-full">
    <div class="flex items-center justify-center">
      <h2 class="text-5xl lg:text-6xl text-sidebar font-bold">
        Desafíos Actuales del Mercado Laboral Colombiano
      </h2>
    </div>
    <div class="my-16">
      <p class="text-lg text-primary-text mb-8">
        Colombia enfrenta dos desafíos estructurales: una economía informal que
        abarca más del 50% de la población activa y la creciente automatización
        que desplaza la mano de obra. Millones de colombianos informales carecen
        de seguridad social, pensiones y estabilidad laboral, perpetuando la
        precariedad.
      </p>
      <p class="text-lg text-primary-text">
        La Cuarta Revolución Industrial, con IA y robótica, transforma los
        modelos de producción, reemplazando puestos de trabajo repetitivos y de
        baja calificación. El actual Estatuto Laboral es insuficiente para estas
        realidades, especialmente en sectores rurales y urbanos marginales. Este
        referendo busca un debate democrático para construir un modelo de
        trabajo que reconozca el valor humano y anticipe los efectos de la
        tecnología.
      </p>
    </div>
    <div class="flex flex-col text-subtitle-sidebar">
      <div class="box-one-info bg-box-border px-10 lg:px-40 py-15">
        <div class="mb-4">
          <h5 class="text-3xl font-bold">Informalidad Laboral</h5>
        </div>
        <p class="text-lg">
          Más del 50% de la población activa en Colombia trabaja en la
          informalidad, careciendo de derechos fundamentales como seguridad
          social, pensiones y estabilidad laboral.
        </p>
      </div>
      <div class="box-two-info mt-10 bg-box-border px-10 lg:px-40 py-15">
        <div class="mb-4">
          <h5 class="text-3xl font-bold">Automatización Creciente</h5>
        </div>
        <p class="text-lg">
          La inteligencia artificial, robótica y digitalización están
          desplazando la mano de obra humana, especialmente en trabajos
          repetitivos, dejando a miles sin alternativas.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .box-one-info {
    border-radius: 120px 0;
  }
  .box-two-info {
    border-radius: 0 120px;
  }
</style>
