---
import { getCollection } from "astro:content"

const keys = await getCollection("keys")

const key_list = keys.sort((a, b) => a.data.order - b.data.order)
---

<section
  id="objetivos"
  class='py-10 lg:py-20 px-5 lg:px-20 w-full bg-secondary-bg flex flex-col items-center justify-center'
>
  <div
    class='flex flex-col items-center justify-center w-full bg-primary-bg px-8 py-10 lg:py-14 lg:px-20'
  >
    <div>
      <div class='mb-10'>
        <h2 class='text-5xl lg:text-6xl text-center text-secondary-text font-bold'>
          Objetivos Clave del Referendo
        </h2>
      </div>
      <p class='text-lg text-primary-text'>
        El referendo busca establecer un marco constitucional que aborde las
        realidades laborales contemporáneas. Se propone reconocer los derechos
        de los trabajadores informales, asegurar políticas de formalización, y
        garantizar una transición justa ante la automatización, incluyendo
        programas de reconversión laboral y protección de ingresos.
      </p>
    </div>
    <div class='mt-40 grid grid-cols-1 lg:grid-cols-2 gap-x-6 gap-y-30'>
      {
        key_list.map(key => (
          <div class='bg-sidebar h-full min-h-70 rounded-xl'>
            <div class="w-40 -mt-20 mx-auto">
              <img
                loading="lazy"
                decoding="async"
                class="w-full"
                src={key.data.image}
                alt=`${key.data.image} image`
              />
            </div>
            <div class="text-subtitle-sidebar px-10 py-5">
            <div class='my-7'>
              <h4 class='text-2xl text-center font-semibold'>
                {key.data.title}
              </h4>
            </div>
            <p class='text-lg'>{key.body}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
