---
const points = [
  {
    number: 10,
    title: 'Salarios Mínimos',
    body: 'Límite máximo para pensiones de funcionarios públicos.',

  },
  {
    number: 12,
    title: 'Meses',
    body: 'Plazo para que el Congreso expida la legislación.',
  }
]
---

<section
  class='py-10 lg:py-20 px-5 lg:px-40 w-full bg-primary-bg flex flex-col items-center justify-center'
>
  <div
    class=''
  >
    <div>
      <h2 class='text-5xl lg:text-6xl text-center text-secondary-text mb-12 font-bold'>
        Reforma Pensional y Vigencia
      </h2>
      <p class='text-lg text-primary-text mb-8'>
        El referendo busca una reforma laboral que reconozca nuevas formas de
        empleo, establezca mecanismos de formalización y garantice derechos
        básicos para todos los trabajadores. Promueve la equidad laboral y un
        sistema eficaz de inspección del trabajo decente. Jurídicamente, se
        fundamenta en el artículo 1° de la Constitución, que consagra a Colombia
        como un Estado social de derecho, donde el trabajo es pilar de la
        dignidad humana y cohesión social.
      </p>
      <p class='text-lg text-primary-text'>
        La propuesta busca actualizar esta visión, incluyendo a quienes han sido
        invisibilizados y anticipando los desafíos de la economía digital. Es un
        llamado a la ciudadanía para un pacto de justicia social, reduciendo la
        pobreza y fortaleciendo la seguridad social.
      </p>
    </div>
    <div class='mt-20 gap-10 flex flex-col lg:flex-row justify-around'>
      {
        points.map(point => (
          <div style="border-radius: 100% 100% 0 100%;" class="flex flex-col items-center justify-center text-center text-primary-bg bg-secondary-text h-90 w-90 p-20">
            <div class="mb-3"><span class="font-bold text-8xl">{point.number}</span></div>
            <div>
              <h6 class="text-xl font-semibold">{point.title}</h6>
            </div>
            <div>
              <p class="text-lg">{point.body}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
