<section
  class='h-screen w-full bg-primary-bg'
>
  <div class='w-full'>
    <img
      src='/principal.jpeg'
      alt='Imagen principal'
      class='h-[70vh] w-full object-cover'
      id='main-img'
      tabindex='0'
    />
  </div>
  <div class='w-full h-[30vh] flex justify-center items-center'>
    <p class='text-center text-xl text-primary-text font-bold w-[50%]'>
      Iniciativa ciudadana para proteger los derechos laborales de trabajadores informales y enfrentar la automatización.
    </p>
  </div>
</section>
