---
const articles = [
  {
    title: "Artículo 1: Protección del Trabajo Informal",
    body: "Adición al artículo 53 para garantizar derechos laborales y de seguridad social a trabajadores informales, con mecanismos diferenciales de protección y formalización.",
  },
  {
    title: "Artículo 2: Automatización y Transición Justa",
    body: "Adición del artículo 53A para asegurar una transición justa ante la automatización, con obligaciones para empresas y medidas estatales de capacitación y empleo.",
  },
  {
    title: "Artículo 3: Renta Básica Transitoria",
    body: "Creación de un derecho a renta básica transitoria para quienes pierdan ingresos por automatización, reglamentado por ley.",
  },
]
---

<section class='py-10 lg:py-20 px-5 lg:px-40 w-full bg-secondary-bg flex flex-col items-center justify-center'>
  <div
    class='flex flex-col items-center justify-center'
  >
    <div>
      <div class='mb-10'>
        <h2 class='text-5xl lg:text-6xl text-center text-secondary-text font-bold'>
          Propuestas de Reforma Constitucional
        </h2>
      </div>
      <p class='text-lg text-primary-text'>
        El proyecto de referendo propone adiciones y creaciones de artículos en
        la Constitución Política de Colombia para abordar la protección laboral
        en la informalidad y frente a la automatización. Se busca garantizar
        derechos progresivos a trabajadores informales, establecer una
        transición justa ante la automatización, crear una renta básica
        transitoria y proteger al campesinado y mujeres rurales.
      </p>
    </div>
    <div class='mt-10 w-full flex flex-col gap-15'>
      {
        articles.map(article => (
          <div
          style="border-radius: 25px 25px 0 25px;"
          class='py-12 px-12 bg-sidebar '>
            <div class='mb-4'>
              <h4 class='text-2xl font-semibold text-secondary-bg'>
                {article.title}
              </h4>
            </div>
            <p class='text-lg text-secondary-bg'>{article.body}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
