<div class="hidden lg:block sticky top-0 h-screen w-[40vw] bg-indigo-100 text-center px-16">
  <div class="mt-50">
    <h1 class="font-bold text-indigo-800">
      <span class="block text-8xl">REFERENDO</span>
      <span class="block text-6xl">CONSTITUCIONAL</span>
    </h1>
  </div>
  <div class="mt-5">
    <p class="text-lg italic ">Por un trabajo digno en <b>Colombia</b></p>
  </div>
</div>